<% content_for :head do  %>
  <style type="text/css">

.form-search {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
  </style>
<% end %>

<form method="get" action="<%= players_search_path %>" class="form-search">
  <h2 class="form-signin-heading">Find Player</h2>
  <div class="form-group">
    <input type="text" name="gamertag" placeholder="Gamertag" class="form-control">
  </div>
  <div class="form-group">
    <%= select_tag "membership_type_id", options_for_select([["Xbox", MembershipType::XBOX], ["Playstation", MembershipType::PLAYSTATION]]), class: "form-control" %>
  </div>
  <button type="submit" name="membership_type_id" class="btn btn-primary">Find</button>
  
</form>
